.elementor-6619 .elementor-element.elementor-element-42c39aa:not(.elementor-motion-effects-element-type-background),
.elementor-6619 .elementor-element.elementor-element-42c39aa>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-6619 .elementor-element.elementor-element-42c39aa {
    border-style: solid;
    border-color: #EBEBEB;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-42c39aa>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-34eab00>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6619 .elementor-element.elementor-element-34eab00:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6619 .elementor-element.elementor-element-34eab00>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-6619 .elementor-element.elementor-element-34eab00>.elementor-element-populated {
    border-style: solid;
    border-color: #EBEBEB;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-34eab00>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-905f886.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-905f886.elementor-view-framed .elementor-icon,
.elementor-6619 .elementor-element.elementor-element-905f886.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-accent);
    color: var( --e-global-color-accent);
    border-color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-905f886.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-6619 .elementor-element.elementor-element-905f886.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-6619 .elementor-element.elementor-element-905f886.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon-box-title {
    color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon-box-title,
.elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon-box-title a {
    font-weight: 600;
}

.elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon-box-description {
    color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-7da4ee1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6619 .elementor-element.elementor-element-7da4ee1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6619 .elementor-element.elementor-element-7da4ee1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-6619 .elementor-element.elementor-element-7da4ee1>.elementor-element-populated {
    border-style: solid;
    border-color: #EBEBEB;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-7da4ee1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-b8fd8cf.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-b8fd8cf.elementor-view-framed .elementor-icon,
.elementor-6619 .elementor-element.elementor-element-b8fd8cf.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-accent);
    color: var( --e-global-color-accent);
    border-color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-b8fd8cf.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-6619 .elementor-element.elementor-element-b8fd8cf.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-6619 .elementor-element.elementor-element-b8fd8cf.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon-box-title {
    color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon-box-title,
.elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon-box-title a {
    font-weight: 600;
}

.elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon-box-description {
    color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-61422c5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6619 .elementor-element.elementor-element-61422c5:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6619 .elementor-element.elementor-element-61422c5>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-6619 .elementor-element.elementor-element-61422c5>.elementor-element-populated {
    border-style: solid;
    border-color: #EBEBEB;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-61422c5>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-e7f66bf>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6619 .elementor-element.elementor-element-e7f66bf:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6619 .elementor-element.elementor-element-e7f66bf>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-6619 .elementor-element.elementor-element-e7f66bf>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-e7f66bf>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6619 .elementor-element.elementor-element-7868f06.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-7868f06.elementor-view-framed .elementor-icon,
.elementor-6619 .elementor-element.elementor-element-7868f06.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-accent);
    color: var( --e-global-color-accent);
    border-color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-7868f06.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-6619 .elementor-element.elementor-element-7868f06.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-6619 .elementor-element.elementor-element-7868f06.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon-box-title {
    color: var( --e-global-color-accent);
}

.elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon-box-title,
.elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon-box-title a {
    font-weight: 600;
}

.elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon-box-description {
    color: var( --e-global-color-accent);
}

@media(max-width:1024px) {
    .elementor-6619 .elementor-element.elementor-element-42c39aa {
        border-width: 1px 1px 1px 1px;
        z-index: 99;
    }
    .elementor-bc-flex-widget .elementor-6619 .elementor-element.elementor-element-34eab00.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-6619 .elementor-element.elementor-element-34eab00.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-6619 .elementor-element.elementor-element-34eab00>.elementor-element-populated {
        border-width: 0px 1px 0px 0px;
        padding: 15px 5px 15px 5px;
    }
    .elementor-6619 .elementor-element.elementor-element-34eab00 {
        z-index: 99;
    }
    .elementor-6619 .elementor-element.elementor-element-905f886.elementor-position-right .elementor-icon-box-icon {
        margin-left: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-905f886.elementor-position-left .elementor-icon-box-icon {
        margin-right: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-905f886.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon {
        font-size: 20px;
    }
    .elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon-box-title {
        margin-bottom: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon-box-title,
    .elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon-box-title a {
        font-size: 12px;
        line-height: 14px;
    }
    .elementor-6619 .elementor-element.elementor-element-905f886 {
        z-index: 99;
    }
    .elementor-bc-flex-widget .elementor-6619 .elementor-element.elementor-element-7da4ee1.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-6619 .elementor-element.elementor-element-7da4ee1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-6619 .elementor-element.elementor-element-7da4ee1>.elementor-element-populated {
        border-width: 0px 1px 0px 0px;
        padding: 15px 5px 15px 5px;
    }
    .elementor-6619 .elementor-element.elementor-element-7da4ee1 {
        z-index: 99;
    }
    .elementor-6619 .elementor-element.elementor-element-b8fd8cf.elementor-position-right .elementor-icon-box-icon {
        margin-left: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-b8fd8cf.elementor-position-left .elementor-icon-box-icon {
        margin-right: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-b8fd8cf.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon {
        font-size: 20px;
    }
    .elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon-box-title {
        margin-bottom: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon-box-title,
    .elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon-box-title a {
        font-size: 12px;
        line-height: 14px;
    }
    .elementor-6619 .elementor-element.elementor-element-b8fd8cf {
        z-index: 99;
    }
    .elementor-bc-flex-widget .elementor-6619 .elementor-element.elementor-element-61422c5.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-6619 .elementor-element.elementor-element-61422c5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-6619 .elementor-element.elementor-element-61422c5>.elementor-element-populated {
        border-width: 0px 1px 0px 0px;
        padding: 15px 5px 15px 5px;
    }
    .elementor-6619 .elementor-element.elementor-element-61422c5 {
        z-index: 99;
    }
    .elementor-bc-flex-widget .elementor-6619 .elementor-element.elementor-element-e7f66bf.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-6619 .elementor-element.elementor-element-e7f66bf.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-6619 .elementor-element.elementor-element-e7f66bf>.elementor-element-populated {
        padding: 15px 5px 15px 5px;
    }
    .elementor-6619 .elementor-element.elementor-element-e7f66bf {
        z-index: 99;
    }
    .elementor-6619 .elementor-element.elementor-element-7868f06.elementor-position-right .elementor-icon-box-icon {
        margin-left: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-7868f06.elementor-position-left .elementor-icon-box-icon {
        margin-right: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-7868f06.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon {
        font-size: 20px;
    }
    .elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon-box-title {
        margin-bottom: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon-box-title,
    .elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon-box-title a {
        font-size: 12px;
        line-height: 14px;
    }
    .elementor-6619 .elementor-element.elementor-element-7868f06 {
        z-index: 99;
    }
}

@media(max-width:767px) {
    .elementor-6619 .elementor-element.elementor-element-34eab00 {
        width: 25%;
    }
    .elementor-6619 .elementor-element.elementor-element-905f886 .elementor-icon-box-icon {
        margin-bottom: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-7da4ee1 {
        width: 25%;
    }
    .elementor-6619 .elementor-element.elementor-element-b8fd8cf .elementor-icon-box-icon {
        margin-bottom: 0px;
    }
    .elementor-6619 .elementor-element.elementor-element-61422c5 {
        width: 25%;
    }
    .elementor-6619 .elementor-element.elementor-element-e7f66bf {
        width: 25%;
    }
    .elementor-6619 .elementor-element.elementor-element-7868f06 .elementor-icon-box-icon {
        margin-bottom: 0px;
    }
}