.elementor-6289 .elementor-element.elementor-element-3791071>.elementor-container {
    min-height: 50px;
}

.elementor-6289 .elementor-element.elementor-element-3791071:not(.elementor-motion-effects-element-type-background),
.elementor-6289 .elementor-element.elementor-element-3791071>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
}

.elementor-6289 .elementor-element.elementor-element-3791071 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 30px 0px 30px;
}

.elementor-6289 .elementor-element.elementor-element-3791071>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-6289 .elementor-element.elementor-element-93db2d7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-93db2d7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-93db2d7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6289 .elementor-element.elementor-element-93db2d7>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-bc-flex-widget .elementor-6289 .elementor-element.elementor-element-1ada675.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-1ada675.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-1ada675>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6289 .elementor-element.elementor-element-1ada675>.elementor-element-populated {
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
}

.elementor-6289 .elementor-element.elementor-element-7afe405>.elementor-container {
    min-height: 100px;
}

.elementor-6289 .elementor-element.elementor-element-7afe405 {
    padding: 0px 30px 0px 30px;
}

.elementor-bc-flex-widget .elementor-6289 .elementor-element.elementor-element-e0adcfe.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-e0adcfe.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-e0adcfe>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6289 .elementor-element.elementor-element-e0adcfe>.elementor-element-populated {
    margin: 0px 20px 0px 0px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 0px;
}

.elementor-6289 .elementor-element.elementor-element-342d580 {
    width: auto;
    max-width: auto;
}

.elementor-6289 .elementor-element.elementor-element-0798009 .site-branding {
    text-align: left;
}

.elementor-6289 .elementor-element.elementor-element-0798009 .elementor-site-logo-wrapper img {
    width: 126px;
}

.elementor-6289 .elementor-element.elementor-element-0798009 {
    width: auto;
    max-width: auto;
}

.elementor-6289 .elementor-element.elementor-element-69a3ec1 {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-6289 .elementor-element.elementor-element-0ceb3f2.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-0ceb3f2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-0ceb3f2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6289 .elementor-element.elementor-element-0ceb3f2>.elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-6289 .elementor-element.elementor-element-7491992 .elementor-header-group-wrapper .header-group-action>div a i:before {
    color: #020101;
}

.elementor-6289 .elementor-element.elementor-element-7491992 .elementor-header-group-wrapper .header-group-action>div a:before {
    color: #020101;
}

.elementor-bc-flex-widget .elementor-6289 .elementor-element.elementor-element-f61a5c3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-f61a5c3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-f61a5c3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6289 .elementor-element.elementor-element-f61a5c3>.elementor-element-populated {
    margin: 0px 0px 0px 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 20px;
}

.elementor-6289 .elementor-element.elementor-element-284c80c>.elementor-widget-container {
    margin: 45px 45px 45px 45px;
}

.elementor-6289 .elementor-element.elementor-element-0eb1649:not(.elementor-motion-effects-element-type-background),
.elementor-6289 .elementor-element.elementor-element-0eb1649>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-6289 .elementor-element.elementor-element-0eb1649 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 30px 0px 30px;
}

.elementor-6289 .elementor-element.elementor-element-0eb1649>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6289 .elementor-element.elementor-element-0eb1649 .elementor-heading-title {
    color: #020101;
}

.elementor-6289 .elementor-element.elementor-element-6d12f4c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation {
    text-align: left;
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation ul.menu li.menu-item a:not(:hover) {
    color: #000000;
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation ul.menu li.menu-item .sub-menu .menu-item a:not(:hover) {
    color: var( --e-global-color-33571bd);
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation .sub-menu {
    background-color: #FFFFFF;
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation ul.menu li.menu-item a:hover {
    color: #F40005;
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation ul.menu li.menu-item .sub-menu .menu-item a:hover {
    color: #000000;
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation ul.menu li.menu-item.current-menu-item>a:not(:hover) {
    color: #F40005;
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation ul.menu li.menu-item.current-menu-parent>a:not(:hover) {
    color: #F40005;
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation ul.menu li.menu-item.current-menu-ancestor>a:not(:hover) {
    color: #F40005;
}

.elementor-6289 .elementor-element.elementor-element-1d4d0f7 .main-navigation ul.menu li.menu-item .sub-menu .menu-item.current-menu-item>a:not(:hover) {
    color: var( --e-global-color-accent);
}

.elementor-6289 .elementor-element.elementor-element-50a3d71:not(.elementor-motion-effects-element-type-background),
.elementor-6289 .elementor-element.elementor-element-50a3d71>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
}

.elementor-6289 .elementor-element.elementor-element-50a3d71 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 30px 15px 30px;
}

.elementor-6289 .elementor-element.elementor-element-50a3d71>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-6289 .elementor-element.elementor-element-56a8d56.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-56a8d56.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6289 .elementor-element.elementor-element-56a8d56>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6289 .elementor-element.elementor-element-56a8d56>.elementor-element-populated {
    text-align: left;
}

.elementor-6289 .elementor-element.elementor-element-1796375 .woocommerce-breadcrumb {
    color: var( --e-global-color-accent);
    font-weight: 700;
}

.elementor-6289 .elementor-element.elementor-element-1796375 .woocommerce-breadcrumb>a:not(:hover) {
    color: #626262;
}

.elementor-6289 .elementor-element.elementor-element-1796375 .woocommerce-breadcrumb a {
    font-weight: 400;
}

@media(max-width:1024px) {
    .elementor-6289 .elementor-element.elementor-element-7afe405>.elementor-container {
        min-height: 80px;
    }
    .elementor-6289 .elementor-element.elementor-element-e0adcfe.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-6289 .elementor-element.elementor-element-e0adcfe>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 15px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-6289 .elementor-element.elementor-element-7afe405>.elementor-container {
        min-height: 80px;
    }
    .elementor-6289 .elementor-element.elementor-element-7afe405 {
        padding: 0px 15px 0px 15px;
    }
}

@media(min-width:768px) {
    .elementor-6289 .elementor-element.elementor-element-e0adcfe {
        width: 26%;
    }
    .elementor-6289 .elementor-element.elementor-element-0ceb3f2 {
        width: 47.664%;
    }
    .elementor-6289 .elementor-element.elementor-element-f61a5c3 {
        width: 26%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-6289 .elementor-element.elementor-element-e0adcfe {
        width: 100%;
    }
}

/* Start custom CSS for column, class: .elementor-element-e0adcfe */

#logo <div class="elementor-section elementor-top-section elementor-element elementor-element-7afe405 elementor-section-height-min-height elementor-section-stretched elementor-section-items-stretch elementor-section-boxed elementor-section-height-default" data-id="7afe405" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1311px; left: 0px;"><div class="elementor-container elementor-column-gap-no"><div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e0adcfe" data-id="e0adcfe" data-element_type="column" id="logo"><div class="elementor-widget-wrap elementor-element-populated"><div class="elementor-element elementor-element-342d580 elementor-widget__width-auto elementor-hidden-desktop elementor-widget elementor-widget-shopic-vertical-menu" data-id="342d580" data-element_type="widget" data-widget_type="shopic-vertical-menu.default"><div class="elementor-widget-container"><div class="elementor-canvas-menu-wrapper"><a href="#" class="menu-mobile-nav-button"><span class="toggle-text screen-reader-text">Menu</span><i class="shopic-icon-bars"></i></a></div></div></div><div class="elementor-element elementor-element-0798009 elementor-widget__width-auto elementor-widget elementor-widget-shopic-site-logo" data-id="0798009" data-element_type="widget" data-widget_type="shopic-site-logo.default"><div class="elementor-widget-container"><div class="elementor-site-logo-wrapper"><div class="site-branding"><a href="https://vsicxpress.com/" class="custom-logo-link" rel="home" aria-current="page"><img src="https://vsicxpress.com/wp-content/uploads/2020/09/logo.svg" class="custom-logo" alt="vsicXpress"></a><div class="site-branding-text"><h1 class="site-title"><a href="https://vsicxpress.com/" rel="home">vsicXpress</a></h1><p class="site-description">Printer Hub,
Buy Printers,
Laptops &amp;
Desktops,
APC Products &amp;
Accessories| vsicXpress</p></div>< !-- .site-branding-text --></div></div></div></div><div class="elementor-element elementor-element-69a3ec1 elementor-widget__width-auto elementor-hidden-desktop elementor-widget elementor-widget-shopic-header-group" data-id="69a3ec1" data-element_type="widget" data-widget_type="shopic-header-group.default"><div class="elementor-widget-container"><div class="elementor-header-group-wrapper"><div class="header-group-action"></div></div></div></div></div></div><div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0ceb3f2 elementor-hidden-tablet elementor-hidden-phone" data-id="0ceb3f2" data-element_type="column"><div class="elementor-widget-wrap elementor-element-populated"><div class="elementor-element elementor-element-7491992 search-form-style-content-style-1 elementor-widget elementor-widget-shopic-header-group" data-id="7491992" data-element_type="widget" data-widget_type="shopic-header-group.default"><div class="elementor-widget-container"><div class="elementor-header-group-wrapper"><div class="header-group-action"><div class="site-search"><div class="widget woocommerce widget_product_search"><div class="ajax-search-result" style="display:none;"></div><form role="search" method="get" class="woocommerce-product-search" action="https://vsicxpress.com/"><label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label><input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products…" autocomplete="off" value="" name="s"><button type="submit" value="Search">Search</button><input type="hidden" name="post_type" value="product"></form></div></div></div></div></div></div></div></div><div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f61a5c3 elementor-hidden-tablet elementor-hidden-phone" data-id="f61a5c3" data-element_type="column"><div class="elementor-widget-wrap elementor-element-populated"><section class="elementor-section elementor-inner-section elementor-element elementor-element-4d1fe85 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4d1fe85" data-element_type="section"><div class="elementor-container elementor-column-gap-default"><div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-84ce96e" data-id="84ce96e" data-element_type="column"><div class="elementor-widget-wrap elementor-element-populated"><div class="elementor-element elementor-element-284c80c wishlist-style-content-style-2 cart-style-content-style-2 search-form-style-content-style-1 elementor-widget elementor-widget-shopic-header-group" data-id="284c80c" data-element_type="widget" data-widget_type="shopic-header-group.default"><div class="elementor-widget-container"><div class="elementor-header-group-wrapper"><div class="header-group-action"><div class="site-header-account"><a href="https://vsicxpress.com/my-account/"><i class="shopic-icon-user"></i><span class="account-content">admin </span></a><div class="account-dropdown"></div></div><div class="site-header-wishlist"><a class="header-wishlist" href="https://vsicxpress.com/wishlist/FX79IA"><i class="shopic-icon-heart"></i><span class="count">0</span><div class="wishlist-style-2"><span class="wishlist-content">Wishlist</span><span class="wishlist-count"><span class="wishlist-count-item">0</span><span class="wishlist-count-text">Items</span></span></div></a></div><div class="site-header-cart menu"><a class="cart-contents" href="https://vsicxpress.com/cart/" title="View your shopping cart"><span class="count">0 </span><div class="cart-style-2"><span class="cart-content">Cart</span><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">₦</span>0</bdi></span></div></a></div></div></div></div></div></div></div></div></section></div></div></div></div> {
    position: fixed;
}

/* End custom CSS */

/* Start custom CSS for shopic-header-group, class: .elementor-element-7491992 */

.site-search .widget_product_search form input[type=search],
.site-search .widget_product_search form input[type=text] {
    border-radius: 10px;
}

.widget_search form input[type=text]:focus,
.widget_search form input[type=search]:focus,
.widget_product_search form input[type=text]:focus,
.widget_product_search form input[type=search]:focus,
.site-search form input[type=text]:focus,
.site-search form input[type=search]:focus {
    border-color: #000;
}

/* End custom CSS */

/* Start custom CSS for section, class: .elementor-element-7afe405 */

.elementor-6289 .elementor-element.elementor-element-7afe405 {
    position: sticky;
}

.elementor-6289 .elementor-element.elementor-element-7afe405 {
    position: fixed;
}

/* End custom CSS */

/* Start custom CSS for section, class: .elementor-element-0eb1649 */

.elementor-6289 .elementor-element.elementor-element-7afe405 {
    position: static;
}

/* End custom CSS */